//small tablets and mobile
$screen-mobile: 320px;
// Small Tablet portrait
$screen-tablet: 768px;
// Small desktops
$screen-lg-min: 992px;
// Large table or desktop 
$screen-desktop: 1200px;

:root {    
    --light-green: #75BC97;
    --dark-green: #15573F;
    --light-orange: #FD9872;
    --gray-text: #848484;
}

@mixin mobile {
    @media (max-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin common {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin content-base {
    display: flex;
    flex-direction: column;
    padding: 36px 20%;
    position: relative;
    z-index: 1;
}

@mixin plant-img-header {
    position: absolute;
    height: 100%;
    z-index: 1;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

#app {
    display: flex;
    flex-direction: column;

// 768px window width or less
    @include mobile {
    }
// 992px window width and more
    @include common {
    }
}

.header {
    position: relative;
    background-color: var(--light-green);

    .plant-left {
        // background-image: url(/images/hero/desktop/left-leaves.png);

        img {
            @include plant-img-header;
            left: 0px;
            top: 0px;
            width: 60vw;
        }
        
    }
    .hero {
        // background-image: url(/images/hero/desktop/plantperson.png);
        img {
            position: absolute;
            left: 800px;
            top: 36px;
            z-index: 0;        
            height: 90%;
            width: 20vw;
            left: 56vw;
        }
        
    }
    .plant-right {
        img {
            @include plant-img-header;
            width: 25vw;
            right: 0px;
            top: 0px;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: bottom;
        }
        // background-image: url(images/hero/desktop/right-leaves.png);
        
    }
    
    .content {
        @include content-base;

        svg {
            width: 250px;
            margin-top: 32px;
        }

        span {
            // position: absolute;
            // top: 124px;
            // left: 15%;
            color: white;
            font-weight: bold;
            font-size: 70px;
    
            width: 400px;
            height: 252px;
    
            // position: absolute;
            // left: 288px;
            // top: 124px;
            margin-top: 32px;
            line-height: 85px;
        }
    }

    
    @include mobile {
        height: 100vh;
    }
    @include common {
        height: 70vh;
    }
}

.filter {
    height: 35vh;
    min-height: 240px;
    background-color: white;

    .content {
        @include content-base;
        flex-direction: row;
        
        justify-content: space-around;
        
        // 768px window width or less
        @include mobile {
            flex-direction: column;
        }

        .card {
            padding: 12px;
            width: 220px;
            display: flex;
            flex-direction: column;

            img {
                height: 75px;
                width: 100px;
            }

            span {                
                margin-top: 6px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: var(--gray-text);
            }

            select {
                border: 1px solid #A8A8A8;
                height: 40px;
                padding: 6px 18px;
                font-family: Montserrat;
                color: var(--gray-text);
                border-radius: 19px;
                margin-top: 24px;
                margin-bottom: 32px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            select:active, select:focus {
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
            }
        }
    }
}

    .plants {
        min-height: 240px;
        background-color: #F6F6F6;
        .content {
            @include content-base;
            flex-direction: column;
            justify-content: space-around;

            .no-results{
                height: 200px;
                width: 100px;
            }

            h2 {
                color: #A9A9A9;
            }

            .sun-high{
                border: 1px solid orange;
            }
        }

    }

    .filled {
        .pick-img {
            width: 160px;
            height: 80px;
        }
        .title{
            font-size: calc(16px + 3.6vh);
            font-weight: bold;
            font-family: Montserrat;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        .plants-grid {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-row-gap: 24px;
            grid-column-gap: 24px;
            justify-items: stretch;

            .plant-card:first-of-type {
                grid-row: 1 / span 2;
                grid-column: 1 / span 2;
            }
        }

        .plant-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: white;
            color: #1E6B4E;
            font-weight: bold;
            font-family: Montserrat;
            padding: 16px 0px;

            .favorite {
                > P {
                    padding: 4px 24px;
                }
                > span{
                    background-color: #75BC97;
                    padding: 4px 24px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
            
            .plant-name{
                font-size: calc(10px + 1.2vh);
                padding: 8px;
            }
            .plant-price{
                font-size: calc(10px + 0.8vh);
                padding: 8px 0px;
            }
            .image-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .plant-image{
                    height: 17vh;
                    max-width: 7vw;
                }
            }
            .bottom-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 12px 12px;
                .icons {
                    display: flex;
                    flex-direction: row;
                    .icon{
                        height: 2.4vh;
                        width: 2.4vh;
                        padding: 4px;
                    }
                }
            }
            
        }

        
    }