//small tablets and mobile
$screen-mobile: 320px;
// Small Tablet portrait
$screen-tablet: 768px;
// Small desktops
$screen-lg-min: 992px;
// Large table or desktop 
$screen-desktop: 1200px;

:root {    
    --light-green: #75BC97;
    --dark-green: #15573F;
    --light-orange: #FD9872;
    --gray-text: #848484;
}

@mixin mobile {
    @media (max-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin common {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin content-base {
    display: flex;
    flex-direction: column;
    padding: 36px 20%;
    position: relative;
    z-index: 1;
}

@mixin plant-img-header {
    position: absolute;
    height: 100%;
    z-index: 1;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

#app {
    display: flex;
    flex-direction: column;

// 768px window width or less
    @include mobile {
    }
// 992px window width and more
    @include common {
    }
}

.header {
    position: relative;
    background-color: var(--light-green);

    .plant-left {
        // background-image: url(/images/hero/desktop/left-leaves.png);

        img {
            @include plant-img-header;
            left: 0px;
            top: 0px;
            width: 60vw;
        }
        
    }
    .hero {
        // background-image: url(/images/hero/desktop/plantperson.png);
        img {
            position: absolute;
            left: 800px;
            top: 36px;
            z-index: 0;        
            height: 90%;
            width: 20vw;
            left: 56vw;
        }
        
    }
    .plant-right {
        img {
            @include plant-img-header;
            width: 25vw;
            right: 0px;
            top: 0px;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: bottom;
        }
        // background-image: url(images/hero/desktop/right-leaves.png);
        
    }
    
    .content {
        @include content-base;

        img {
            width: 170px;
            margin-top: 32px;
        }

        span {
            // position: absolute;
            // top: 124px;
            // left: 15%;
            color: white;
            font-weight: bold;
            font-size: 70px;
    
            width: 400px;
            height: 252px;
    
            // position: absolute;
            // left: 288px;
            // top: 124px;
            margin-top: 32px;
            line-height: 85px;
        }
    }

    
    @include mobile {
        height: 100vh;
    }
    @include common {
        height: 70vh;
    }
}

.filter {
    height: 35vh;
    min-height: 240px;
    background-color: white;

    .content {
        @include content-base;
        flex-direction: row;
        
        justify-content: space-around;
        
        // 768px window width or less
        @include mobile {
            flex-direction: column;
        }

        .card {
            padding: 12px;
            width: 220px;
            display: flex;
            flex-direction: column;

            img {
                height: 75px;
                width: 100px;
            }

            span {                
                margin-top: 6px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: var(--gray-text);
            }

            select {
                border: 1px solid #A8A8A8;
                height: 40px;
                padding: 6px 18px;
                font-family: Montserrat;
                color: var(--gray-text);
                border-radius: 19px;
                margin-top: 24px;
                margin-bottom: 32px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            select:active, select:focus {
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
            }
        }
    }
}

    .plants {
        height: 30vh;
        min-height: 240px;
        background-color: #F6F6F6;
        .content {
            @include content-base;
            flex-direction: row;
            justify-content: space-around;

            .no-results{
                height: 200px;
                width: 100px;
            }

            h2 {
                color: #A9A9A9;

            }
        }

    }